<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recherche d'un club
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recherche d'un club</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Titre de la page -->

  <ion-toolbar>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  </ion-toolbar>
    

  <ion-item *ngFor="let club of resultArr" (click) = "goTo(club.Name)">
    <ion-label>
      <ion-note style="font-weight: bold">
        {{club.Name}}
      </ion-note>
    </ion-label>

  </ion-item>


</ion-content>
