<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="goBack()" ></ion-icon>
    <ion-title>Choix du joueurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-list>
    <ion-item  *ngFor="let player of liste | async">
      <ion-text class='text'>{{player.Prenom}}
      </ion-text>
      <ion-segment   class="week" value="{{presence[player.index]}}"> 
        <ion-segment-button  class="present" value="present" (click)= 'Update(player.Prenom, "present")'>
          <ion-label>Présent</ion-label>
        </ion-segment-button>
        <ion-segment-button class="absent" value="absent" (click)= 'Update(player.Prenom, "absent")'>
          <ion-label>Absent</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
  </ion-list>
</ion-content>